.admin{
    background-color: $primaryBg;
    padding:20px 10%;
    .logo_login{max-width:25vw;margin-bottom:4vh;}
    a,p,h2{
        color: #FFF;
    }
    .posts {
        border-bottom: 1px solid #000;
        padding: 40px auto;
    }
    .new_post {
        background-color: #DD3442;
        border: none;
        padding: 10px 30px;
        color: #fff;
        margin-bottom: 40px;
        display: block;
        width: 250px;
        padding: 20px 10px;
        text-align: center;
    }
    form .form-group{
        margin-top:30px;
    }

    form .form-group label{
        color:#fff;
    }
    form input{box-shadow: 0px 0px 20px #fff;border-radius:8px;}
    form input[type=submit] {
        margin-top: 40px;
        margin-right: 20px;
        background-color: #DD3442;
        border: none;
        padding: 10px 30px;
        color: #fff;
        padding: 20px 30px;
    }
    form .form-group input, .admin form .form-group textarea {
        padding: 15px 12px;
    }
    .login h1{margin-top:1rem;color:#fff;text-align:center;}
    .login form{text-align: center;}
    .login form input[type=submit]{text-align:center;margin-right:0px;}
    .login {
        form input, form label{text-align:left;width:60%;padding:12px;}
    }
}