.contatti {
    #container {
        .first {
            position: relative;
            @media #{$big-smartphone} {
                width: 100vw;
            }
            @media #{$smartphone} {
                width: 100vw;
            }
            @media #{$small-smartphone} {
                width: 100vw;
            }
            .container-fluid {
                height: 90%;
                padding: 0 60px;
                @media #{$notebook} {
                    padding: 0 40px;
                }
                @media #{$tablet} {
                    padding: 0 40px;
                }        
                @media #{$big-smartphone} {
                    height: 100%;
                    width: 100vw;
                    max-width: 100%;
                    padding: 0;
                }
                @media #{$smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                @media #{$small-smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                .logo {
                    position: absolute;
                    top: 50px;
                    z-index: 2;
                    @media #{$big-smartphone} {
                        top: 40px;
                    }
                    @media #{$smartphone} {
                        top: 30px;
                    }
                    @media #{$small-smartphone} {
                        top: 30px;
                    }
                    img {
                        width: 100px;
                    }
                } 
                h2 {
                    @extend %mainTitle;
                    div {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        span {
                            display: block;
                            transform: translateY(105%);
                        }
                    }
                }
                form {
                    width: 500px;
                    margin-bottom: 40px;
                    @media #{$notebook} {
                        width: 100%;
                    }
                    @media #{$tablet} {
                        width: 100%;
                    }
                    @media #{$big-smartphone} {
                        width: 100%;
                    }
                    @media #{$smartphone} {
                        width: 350px;
                    }
                    @media #{$small-smartphone} {
                        width: 280px;
                    }
                    input:not(#submit), textarea {
                        border: 2px solid $primaryBg;
                        background: none;
                        padding: 20px 10px;
                        margin-top: 15px;
                        font-family: "Oswald", sans-serif;
                        color: $secondaryColorTxt;
                    }
                    #submit {
                        background: $primaryBg;
                        border: 2px solid $primaryBg;
                        font-family: "Oswald", sans-serif;
                        color: white;
                        padding: 5px 30px;
                        margin-top: 20px;
        
                    }
                }
                .icon {
                    margin-top: 20px;
                    img {
                        width: 30px;
                        margin-right: 20px
                    }
                    a {
                        @extend %text;
                        color: $secondaryColorTxt;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .nav-item {
        &:nth-child(4) {
            .nav-link {
                color: $secondaryBg;
                font-weight: bold;
                @media #{$big-smartphone} {
                    font-size: 2rem;
                    color: $primaryBg !important;
                }
                @media #{$smartphone} {
                    font-size: 2rem;
                    color: $primaryBg !important;
                }
                @media #{$small-smartphone} {
                    font-size: 2rem;
                    color: $primaryBg !important;
                }    
            }
        }
        .nav-link {
            @include menu($primaryBg);
            color: $primaryBg;
            @media #{$big-smartphone} {
                font-size: 2rem;
                color: #fff;
            }
            @media #{$smartphone} {
                font-size: 2rem;
                color: #fff;
            }
            @media #{$small-smartphone} {
                font-size: 2rem;
                color: #fff;
            }
        }
    }
    #container-desktop, #container-mobile, #mainMenu {@include bg($thirdBg);}
    .footer-mobile {
        width: 800px;
        footer {
            width: 800px;
            padding-left: 80px;
            .container {
                max-width: 100%;
                width: 800px;
            }    
        }
    }
    footer {
        background-color: $secondaryBg;
        color: $primaryColorTxt;
        p, a {
            color: $primaryColorTxt;
        }
    }
}
