.federica {
    #container {
        .first {
            position: relative;
            @media #{$big-smartphone} {
                width: 100vw;
            }
            @media #{$smartphone} {
                width: 100vw;
            }
            @media #{$small-smartphone} {
                width: 100vw;
            }
            .container-fluid {
                height: 90%;
                padding: 0 60px;
                @media #{$notebook} {
                    padding: 0 40px;
                }
                @media #{$tablet} {
                    padding: 0 40px;
                }        
                @media #{$big-smartphone} {
                    height: 100%;
                    width: 100vw;
                    max-width: 100%;
                    padding: 0;
                }
                @media #{$smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                @media #{$small-smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                .logo {
                    position: absolute;
                    top: 50px;
                    z-index: 2;
                    @media #{$big-smartphone} {
                        top: 40px;
                    }
                    @media #{$smartphone} {
                        top: 30px;
                    }
                    @media #{$small-smartphone} {
                        top: 30px;
                    }
                    img {
                        width: 100px;
                    }
                } 
                h2 {
                    @extend %mainTitle;
                    div {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        span {
                            display: block;
                            transform: translateY(105%);
                        }
                    }
                }
                .overlay {
                    position: relative;
                    .imgReveal {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background-color: $primaryBg;
                        z-index: 2;
                    }
                    img {
                        @media #{$pc} {
                            height: 290px;
                            object-fit: cover;
                            width: 100%;
                        }                                            
                        @media #{$big-pc} {
                            width: 100%;
                        }                                            
                        @media #{$notebook} {
                            width: 90%;
                        }
                        @media #{$smartphone} {
                            width: 100%;
                        }
                        @media #{$small-smartphone} {
                            width: 100%;
                        }        
                    }
                }
                p {
                    @extend %text;
                    width: 380px;
                    margin: 50px 0 0 0;
                    @media #{$big-pc} {
                        width: 450px;
                    }
                    @media #{$tablet} {
                        width: 90%;
                    }
                    @media #{$smartphone} {
                        width: 90%;
                        margin-top: 40px;
                    }
                    @media #{$small-smartphone} {
                        width: 90%;
                        margin-top: 40px;
                    }
                }
                .animMask {
                    overflow: hidden;
                    width: 45px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 99;
                    a {
                        display: flex;
                        transform: translateX(-40px);
                        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
                        &:hover {
                            transform: translateX(0);
                        }
                        .arrow {
                            width: 40px;
                            margin-right: 5px;
                        }
                        .arrowHidden {
                            width: 40px
                        }
                    }
                }
            }
        }
    }
    .second {
        position: relative;
        @media #{$big-smartphone} {
            width: 100vw;
        }
        @media #{$smartphone} {
            width: 100vw;
        }
        @media #{$small-smartphone} {
            width: 100vw;
        }
        .container-fluid {
            height: 83%;
            background-color: $secondaryBg;
            position: absolute;
            bottom: 0;
            @media #{$big-smartphone} {
                height: 100%;
                max-width: 100%;
                width: 100vw;
            }
            @media #{$smartphone} {
                height: 100%;
                width: 100vw;
            }
            @media #{$small-smartphone} {
                height: 100%;
                width: 100vw;
            }
        }
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            @media #{$notebook} {
                height: 300px;
            }
            @media #{$tablet} {
                height: 250px;
            }
            @media #{$big-pc} {
                height: 400px;
            }
            @media #{$big-smartphone} {
                height: 250px;
            }
            @media #{$smartphone} {
                height: 250px;
            }
            @media #{$small-smartphone} {
                height: 200px;
            }
        }
        p {
            @extend %text;
        }
        h4 {
            @extend %text;
            font-weight: bold;
        }
    }
    .nav-item {
        &:nth-child(3) {
            .nav-link {
                color: $secondaryBg !important;
                font-weight: bold;
            }
        }
        .nav-link {
            @include menu($primaryBg);
            color: $primaryColorTxt;
            @media #{$big-smartphone} {
                font-size: 2rem;
            }
            @media #{$smartphone} {
                font-size: 2rem;
            }
            @media #{$small-smartphone} {
                font-size: 2rem;
            }
        }
    }
    .second a {color: $primaryColorTxt}
    #container-desktop, #container-mobile, #mainMenu {@include bg($secondaryBg);}
    .footer-mobile {
        width: 800px;
        footer {
            width: 800px;
            padding-left: 80px;
            .container {
                max-width: 100%;
                width: 800px;
            }    
        }
    }
    footer {
        background-color: $thirdBg;
        color: $primaryBg;
        p, a {
            color: $secondaryBg;
        }
    }
}
