footer {
    height: 100%;
    h2 {
        @extend %mainTitle;
        @media #{$smartphone} {
            font-size: 4rem;
            line-height: 4.6rem;
            width: 50%;
        }
        @media #{$small-smartphone} {
            font-size: 3.7rem;
            line-height: 4.6rem;
            width: 50%;
        }
        div {
            display: block;
            position: relative;
            overflow: hidden;
            span {
                display: block;
                transform: translateY(105%);
            }
        }
    }
    p, a {
        @extend %text;
        color: $primaryColorTxt;
    }
    .social {
        margin: 20px 0 40px 0;
        img {
            width: 40px;
            margin-right: 10px;
        }
    }
    .credits {
        div {
            float: left;
            width: 50%;
            @media #{$smartphone} {
                float: none;
                width: 100%;
                margin-top: 20px;
            }
            @media #{$small-smartphone} {
                float: none;
                width: 100%;
                margin-top: 20px;
            }
            p {
                margin: 0;
            }
        }
    }
}
