.home {
    #container {
        .first {
            position: relative;
            @media #{$big-smartphone} {
                width: 100vw;
            }
            @media #{$smartphone} {
                width: 100vw;
            }
            @media #{$small-smartphone} {
                width: 100vw;
            }
            .container-fluid {
                height: 90%;
                padding: 0 60px;
                @media #{$notebook} {
                    padding: 0 40px;
                }
                @media #{$tablet} {
                    padding: 0 40px;
                }        
                @media #{$big-smartphone} {
                    height: 100%;
                    width: 100vw;
                    max-width: 100%;
                    padding: 0;
                }
                @media #{$smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                @media #{$small-smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                .logo {
                    position: absolute;
                    top: 50px;
                    z-index: 2;
                    @media #{$big-smartphone} {
                        top: 40px;
                    }
                    @media #{$smartphone} {
                        top: 30px;
                    }
                    @media #{$small-smartphone} {
                        top: 30px;
                    }
                    img {
                        width: 100px;
                    }
                }
                h2 {
                    @extend %mainTitle;
                    div {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        span {
                            display: block;
                            transform: translateY(105%);
                        }
                    }
                }
                .overlay {
                    position: relative;
                    .imgReveal {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background-color: $primaryBg;
                        z-index: 2;
                    }
                    img {
                        @media #{$pc} {
                            height: 290px;
                            object-fit: cover;
                            width: 100%;
                        }                                            
                        @media #{$big-pc} {
                            width: 100%;
                        }                                            
                        @media #{$notebook} {
                            width: 90%;
                        }
                        @media #{$smartphone} {
                            width: 100%;
                        }
                        @media #{$small-smartphone} {
                            width: 100%;
                        }        
                    }
                }
                p {
                    @extend %text;
                    width: 380px;
                    margin: 50px 0 0 0;
                    @media #{$big-pc} {
                        width: 490px;
                    }
                    @media #{$tablet} {
                        width: 90%;
                    }
                    @media #{$smartphone} {
                        width: 90%;
                        margin-top: 40px;
                    }
                    @media #{$small-smartphone} {
                        width: 90%;
                        margin-top: 40px;
                    }
                }
                .animMask {
                    overflow: hidden;
                    width: 45px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 99;
                    a {
                        display: flex;
                        transform: translateX(-40px);
                        transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
                        &:hover {
                            transform: translateX(0);
                        }
                        .arrow {
                            width: 40px;
                            margin-right: 5px;
                        }
                        .arrowHidden {
                            width: 40px
                        }
                    }
                }
            }
        }
        .second {
            @media #{$big-smartphone} {
                width: 90vw;
                padding: 0;
            }
            @media #{$smartphone} {
                width: 110vw;
                margin-left: 120px;
            }
            @media #{$small-smartphone} {
                width: 110vw;
                margin-left: 120px;
            }
            .container-fluid {
                padding: 0 60px;
                @media #{$notebook} {
                    padding: 0 40px;
                }
                @media #{$tablet} {
                    padding: 0 40px;
                }        
                @media #{$big-smartphone} {
                    max-width: 100%;
                    width: 90vw;
                }
                @media #{$smartphone} {
                    width: 110vw;
                }
                @media #{$small-smartphone} {
                    width: 110vw;
                    padding: 0;
                }    
                h3 {
                    @extend %subTitle;
                    margin: 30px 0;
                    @media #{$tablet} {
                        margin: 20px 0;
                        font-size: 3.2rem;
                        line-height: 3.8rem;
                    }
                    @media #{$smartphone} {
                        margin: 20px 0;
                    }
                    @media #{$small-smartphone} {
                        margin: 10px 0;
                    }
                    div {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        span {
                            display: block;
                            transform: translateY(105%);
                            &.float-right {
                                @media #{$big-pc} {
                                    float: none !important;
                                    margin-left: 200px;
                                }                        
                                @media #{$pc} {
                                    margin-right: 15px;
                                }                        
                                @media #{$notebook} {
                                    margin-right: 15px;
                                }                        
                                @media #{$tablet} {
                                    margin-right: 10px;
                                }
                                @media #{$big-smartphone} {
                                    margin-right: 15px;
                                }
                                @media #{$smartphone} {
                                    margin-right: 15px;
                                } 
                                @media #{$small-smartphone} {
                                    margin-right: 15px;
                                }                                                                                                                                                                                               
                                @media screen and (min-width:450px) and (max-width:575px) {
                                    margin-right: 100px;
                                }
                            }
                        }
                    }
                }
                p {
                    @extend %text;
                    width: 380px;
                    margin: 0;
                    @media #{$big-pc} {
                        width: 490px;
                    }                                        
                    @media #{$tablet} {
                        width: 100%;
                    }
                    @media #{$smartphone} {
                        width: 95%;
                    }
                    @media #{$small-smartphone} {
                        width: 85%;
                    }
                }
                .box {
                    width: 25%;
                    height: 100%;
                    float: left;
                    position: relative;
                    h2 {
                        @extend %mainTitle;
                        transform: rotate(90deg);
                        font-size: 5vw;
                        margin-top: 25%;
                        @media #{$tablet} {
                            font-size: 6vw;
                        }
                        @media #{$big-pc} {
                            font-size: 5vw;
                            margin-top: 35%;
                        }
                        @media #{$big-smartphone} {
                            font-size: 8.5vw;
                            margin-top: 30%;
                        }
                        @media #{$smartphone} {
                            font-size: 11vw;
                            margin-top: 35%;
                        }
                        @media #{$small-smartphone} {
                            font-size: 11vw;
                            margin-top: 35%;
                        }
                    }
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .primo-box {
                    transform: translateY(100%);
                    transition: transform 1s cubic-bezier(.15,.31,.15,.97);
                    img {
                        height: 55vh;
                        position: absolute;
                        bottom: 0;
                    }
                }
                .secondo-box {
                    transform: translateY(-100%);
                    transition: transform 1s cubic-bezier(.15,.31,.15,.97);
                    img {
                        height: 60vh;
                    }
                }    
                .terzo-box {
                    transform: translateY(100%);
                    transition: transform 1s cubic-bezier(.15,.31,.15,.97);
                    img {
                        height: 50vh;
                        position: absolute;
                        bottom: 0;
                    }
                }    
                .quarto-box {
                    transform: translateY(-100%);
                    transition: transform 1s cubic-bezier(.15,.31,.15,.97);
                    img {
                        height: 52vh;
                    }
                }    
            } 
        }
        .third {
            position: relative;
            @media #{$big-smartphone} {
                width: 130vw;
                padding: 0 0px 0 150px;
            }
            @media #{$smartphone} {
                width: 120vw;
                padding: 0 0px 0 20px;
            }
            @media #{$small-smartphone} {
                width: 120vw;
                padding: 0 0px 0 0px;
            }
            .container-fluid {
                height: 90%;
                padding: 0 60px;
                @media #{$notebook} {
                    padding: 0 40px;
                }
                @media #{$tablet} {
                    padding: 0 40px;
                }        
                @media #{$big-smartphone} {
                    height: 100%;
                    max-width: 100%;
                    width: 130vw;
                }
                @media #{$smartphone} {
                    height: 100%;
                    width: 160vw;
                }
                @media #{$small-smartphone} {
                    height: 100%;
                    width: 170vw;
                }
                h2 {
                    @extend %mainTitle;
                    div {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        span {
                            display: block;
                            transform: translateY(105%);
                        }
                    }
                }
                h4 {
                    @extend %text;
                    font-weight: bold;
                }    
                p {
                    @extend %text;
                    width: 350px;
                    margin: 0 0 35px 0;
                    @media #{$big-pc} {
                        width: 490px;
                    }
                    @media #{$tablet} {
                        width: 100%;
                    }            
                    @media #{$smartphone} {
                        width: 70%;
                    }
                    @media #{$small-smartphone} {
                        width: 70%;
                    }
                }
            }
        }
        .fourth {
            @media #{$big-smartphone} {
                width: 100vw;
            }
            @media #{$smartphone} {
                width: 130vw;
                margin-left: 50px;
            }
            @media #{$small-smartphone} {
                width: 140vw;
                margin-left: 50px;
            }
            .box {
                img {
                    width: 100%;
                    height: 46%;
                    object-fit: cover;
                    &:first-child {
                        height: 27%;
                    }
                    &:last-child {
                        height: 27%;
                    }    
                }
            }
            h3 {
                @extend %subTitle;
                margin: 30px 0 0 0;
                div {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    span {
                        display: block;
                        transform: translateY(105%);
                        &.float-right {
                            @media #{$big-pc} {
                                float: none !important;
                                margin-left: 300px;
                            }                        
                            @media #{$pc} {
                                margin-right: 25%;
                            }                        
                            @media screen and (min-width:520px) and (max-width:575px) {
                                margin-right: 150px;
                            }
                            @media screen and (min-width:430px) and (max-width:519px) {
                                margin-right: 70px;
                            }
                        }
                    }
                }
            }
            p {
                @extend %text;
                width: 350px;
                margin: 0;
                @media #{$big-pc} {
                    width: 490px;
                }                                        
                @media #{$smartphone} {
                    width: 300px;
                }
                @media #{$small-smartphone} {
                    width: 280px;
                }
            }
        }
    }
    .nav-link {
        @include menu($primaryBg);
        color: $primaryColorTxt;
    }
    .mobile-second {
        width: 600px !important;
        margin-left: 100px;
        .container {
            width: 600px !important;
        }
    }
    .fourth .container-fluid {
        padding: 0 60px;
        @media #{$notebook} {
            padding: 0 40px;
        }
        @media #{$tablet} {
            padding: 0 40px;
        }
        @media #{$big-smartphone} {
            width: 100vw;
        }
        @media #{$smartphone} {
            width: 130vw;
        }
        @media #{$small-smartphone} {
            width: 140vw;
        }
    }
    #container-desktop, #container-mobile {@include bg($primaryBg);}
    footer {background-color: $secondaryBg;}
    .footer-mobile {
        width: 800px;
        footer {
            width: 800px;
            padding-left: 80px;
            .container {
                max-width: 100%;
                width: 800px;
            }    
        }
    }
}