$primaryColorTxt: #fff;
$secondaryColorTxt: #1d1d1b;
$primaryBg: #50867f;
$secondaryBg: #085148;
$thirdBg: #fff;

//responsive
$big-pc:"only screen and (min-width:1600px)";
$pc:"only screen and (min-width:1200px)";
$notebook:"only screen and (max-width:1199px) and (min-width:992px)";
$tablet:"only screen and (max-width:991px) and (min-width:769px)";
$big-smartphone:"only screen and (max-width:768px) and (min-width:576px)";
$smartphone:"only screen and (max-width:575px) and (min-width:351px)";
$small-smartphone:"only screen and (max-width:350px)";

@mixin bg($bg) {
    @if $bg == $primaryBg {
        color: $primaryColorTxt;
        background: linear-gradient(90deg, $primaryBg 0%, $primaryBg 50%, $thirdBg 100%);
    } @else if $bg == $secondaryBg {
        color: $primaryColorTxt;
        background-color: $primaryBg;
    } @else {
        color: $secondaryColorTxt;
    }
}

@mixin menu($bg) {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    &.shop-link {
        font-weight: 700;
        color: #e83d39 !important;
    }
    &.active {
        font-weight: 600;
    }
}

%mainTitle {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 4rem;
    line-height: 4.6rem;
    @media #{$smartphone} {
        font-size: 4.3rem;
        line-height: 5rem;
        letter-spacing: -1px;
    }
    @media #{$big-smartphone} {
        font-size: 4.6rem;
        line-height: 5.2rem;
    }
    @media #{$tablet} {
        font-size: 4.1rem;
        line-height: 4.8rem;
        letter-spacing: -2px;
    }
    @media #{$notebook} {
        font-size: 5.2rem;
        line-height: 5.8rem;
        letter-spacing: -0.5px;
    }
    @media #{$pc} {
        font-size: 6.1rem;
        line-height: 6.6rem;
    }
    @media #{$big-pc} {
        font-size: 8rem;
        line-height: 8.3rem;
    }
}
%subTitle {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 4rem;
    line-height: 4.6rem;
    @media #{$big-pc} {
        font-size: 5rem;
        line-height: 5.2rem;
    }                        
    @media #{$pc} {
        font-size: 4.5rem;
        line-height: 4.9rem;
    }
    @media #{$smartphone} {
        font-size: 3.5rem;
        line-height: 4.2rem;
    }
    @media #{$small-smartphone} {
        font-size: 3rem;
        line-height: 3.7rem;
    }
}

%text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    @media #{$big-pc} {
        font-size: 1.2rem;
    }                        
}