            <footer>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <h2>
                                <div><span>RIMANI AGGIORNATO</span></div>
                                <div><span>SULLE NOVIT&Agrave;</span></div>
                            </h2>
                            <div class="social">
                                <a href="#" title="facebook" class="fb"><img src="/fede2/img/fb.png" alt="social"></a>
                                <a href="#" title="instagram" class="ig"><img src="/fede2/img/ig.png" alt="social"></a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="credits">
                                <div>
                                    <a title="privacy" href="#">Privacy and cookie policy</a><br>
                                    <a title="termini e condizioni" href="#">Termini e condizioni</a>
                                </div>
                                <div>
                                    <p>&copy; 2022 Fedé Estetica e dedizione<br>Created with Passion by <a href="https://www.springideechecrescono.it/" target="_blank" title="Spring ADV">Spring ADV</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
