@charset "UTF-8";
.blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4rem;
  line-height: 4.6rem;
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
    font-size: 4.3rem;
    line-height: 5rem;
    letter-spacing: -1px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
    font-size: 4.6rem;
    line-height: 5.2rem;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
    font-size: 4.1rem;
    line-height: 4.8rem;
    letter-spacing: -2px;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
    font-size: 5.2rem;
    line-height: 5.8rem;
    letter-spacing: -0.5px;
  }
}
@media only screen and (min-width:1200px) {
  .blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
    font-size: 6.1rem;
    line-height: 6.6rem;
  }
}
@media only screen and (min-width:1600px) {
  .blog-template .first .blog-wrapper h2, footer h2, .contatti #container .first .container-fluid h2, .federica #container .first .container-fluid h2, .home #container .third .container-fluid h2, .home #container .second .container-fluid .box h2, .home #container .first .container-fluid h2 {
    font-size: 8rem;
    line-height: 8.3rem;
  }
}

.servizi #container .first .container-fluid h2, .home #container .fourth h3, .home #container .second .container-fluid h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 4rem;
  line-height: 4.6rem;
}
@media only screen and (min-width:1600px) {
  .servizi #container .first .container-fluid h2, .home #container .fourth h3, .home #container .second .container-fluid h3 {
    font-size: 5rem;
    line-height: 5.2rem;
  }
}
@media only screen and (min-width:1200px) {
  .servizi #container .first .container-fluid h2, .home #container .fourth h3, .home #container .second .container-fluid h3 {
    font-size: 4.5rem;
    line-height: 4.9rem;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi #container .first .container-fluid h2, .home #container .fourth h3, .home #container .second .container-fluid h3 {
    font-size: 3.5rem;
    line-height: 4.2rem;
  }
}
@media only screen and (max-width:350px) {
  .servizi #container .first .container-fluid h2, .home #container .fourth h3, .home #container .second .container-fluid h3 {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}

.blog-template .first p, .blog-template .first .date, footer p, footer a, .contatti #container .first .container-fluid .icon a, .servizi .second table th, .servizi #container .first .container-fluid p, .federica .second h4, .federica .second p, .federica #container .first .container-fluid p, .home #container .fourth p, .home #container .third .container-fluid p, .home #container .third .container-fluid h4, .home #container .second .container-fluid p, .home #container .first .container-fluid p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.05rem;
}
@media only screen and (min-width:1600px) {
  .blog-template .first p, .blog-template .first .date, footer p, footer a, .contatti #container .first .container-fluid .icon a, .servizi .second table th, .servizi #container .first .container-fluid p, .federica .second h4, .federica .second p, .federica #container .first .container-fluid p, .home #container .fourth p, .home #container .third .container-fluid p, .home #container .third .container-fluid h4, .home #container .second .container-fluid p, .home #container .first .container-fluid p {
    font-size: 1.2rem;
  }
}

.home #container .first {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .home #container .first {
    width: 100vw;
  }
}
.home #container .first .container-fluid {
  height: 90%;
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .home #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    max-width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
@media only screen and (max-width:350px) {
  .home #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
.home #container .first .container-fluid .logo {
  position: absolute;
  top: 50px;
  z-index: 2;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .first .container-fluid .logo {
    top: 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .first .container-fluid .logo {
    top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .first .container-fluid .logo {
    top: 30px;
  }
}
.home #container .first .container-fluid .logo img {
  width: 100px;
}
.home #container .first .container-fluid h2 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.home #container .first .container-fluid h2 div span {
  display: block;
  transform: translateY(105%);
}
.home #container .first .container-fluid .overlay {
  position: relative;
}
.home #container .first .container-fluid .overlay .imgReveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #50867f;
  z-index: 2;
}
@media only screen and (min-width:1200px) {
  .home #container .first .container-fluid .overlay img {
    height: 290px;
    object-fit: cover;
    width: 100%;
  }
}
@media only screen and (min-width:1600px) {
  .home #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .home #container .first .container-fluid .overlay img {
    width: 90%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
@media only screen and (max-width:350px) {
  .home #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
.home #container .first .container-fluid p {
  width: 380px;
  margin: 50px 0 0 0;
}
@media only screen and (min-width:1600px) {
  .home #container .first .container-fluid p {
    width: 490px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .first .container-fluid p {
    width: 90%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .first .container-fluid p {
    width: 90%;
    margin-top: 40px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .first .container-fluid p {
    width: 90%;
    margin-top: 40px;
  }
}
.home #container .first .container-fluid .animMask {
  overflow: hidden;
  width: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.home #container .first .container-fluid .animMask a {
  display: flex;
  transform: translateX(-40px);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.home #container .first .container-fluid .animMask a:hover {
  transform: translateX(0);
}
.home #container .first .container-fluid .animMask a .arrow {
  width: 40px;
  margin-right: 5px;
}
.home #container .first .container-fluid .animMask a .arrowHidden {
  width: 40px;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .second {
    width: 90vw;
    padding: 0;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .second {
    width: 110vw;
    margin-left: 120px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .second {
    width: 110vw;
    margin-left: 120px;
  }
}
.home #container .second .container-fluid {
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .home #container .second .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .second .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .second .container-fluid {
    max-width: 100%;
    width: 90vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .second .container-fluid {
    width: 110vw;
  }
}
@media only screen and (max-width:350px) {
  .home #container .second .container-fluid {
    width: 110vw;
    padding: 0;
  }
}
.home #container .second .container-fluid h3 {
  margin: 30px 0;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .second .container-fluid h3 {
    margin: 20px 0;
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .second .container-fluid h3 {
    margin: 20px 0;
  }
}
@media only screen and (max-width:350px) {
  .home #container .second .container-fluid h3 {
    margin: 10px 0;
  }
}
.home #container .second .container-fluid h3 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.home #container .second .container-fluid h3 div span {
  display: block;
  transform: translateY(105%);
}
@media only screen and (min-width:1600px) {
  .home #container .second .container-fluid h3 div span.float-right {
    float: none !important;
    margin-left: 200px;
  }
}
@media only screen and (min-width:1200px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 15px;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 15px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 10px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 15px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 15px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 15px;
  }
}
@media screen and (min-width: 450px) and (max-width: 575px) {
  .home #container .second .container-fluid h3 div span.float-right {
    margin-right: 100px;
  }
}
.home #container .second .container-fluid p {
  width: 380px;
  margin: 0;
}
@media only screen and (min-width:1600px) {
  .home #container .second .container-fluid p {
    width: 490px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .second .container-fluid p {
    width: 100%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .second .container-fluid p {
    width: 95%;
  }
}
@media only screen and (max-width:350px) {
  .home #container .second .container-fluid p {
    width: 85%;
  }
}
.home #container .second .container-fluid .box {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
}
.home #container .second .container-fluid .box h2 {
  transform: rotate(90deg);
  font-size: 5vw;
  margin-top: 25%;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .second .container-fluid .box h2 {
    font-size: 6vw;
  }
}
@media only screen and (min-width:1600px) {
  .home #container .second .container-fluid .box h2 {
    font-size: 5vw;
    margin-top: 35%;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .second .container-fluid .box h2 {
    font-size: 8.5vw;
    margin-top: 30%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .second .container-fluid .box h2 {
    font-size: 11vw;
    margin-top: 35%;
  }
}
@media only screen and (max-width:350px) {
  .home #container .second .container-fluid .box h2 {
    font-size: 11vw;
    margin-top: 35%;
  }
}
.home #container .second .container-fluid .box img {
  width: 100%;
  object-fit: cover;
}
.home #container .second .container-fluid .primo-box {
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.15, 0.31, 0.15, 0.97);
}
.home #container .second .container-fluid .primo-box img {
  height: 55vh;
  position: absolute;
  bottom: 0;
}
.home #container .second .container-fluid .secondo-box {
  transform: translateY(-100%);
  transition: transform 1s cubic-bezier(0.15, 0.31, 0.15, 0.97);
}
.home #container .second .container-fluid .secondo-box img {
  height: 60vh;
}
.home #container .second .container-fluid .terzo-box {
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.15, 0.31, 0.15, 0.97);
}
.home #container .second .container-fluid .terzo-box img {
  height: 50vh;
  position: absolute;
  bottom: 0;
}
.home #container .second .container-fluid .quarto-box {
  transform: translateY(-100%);
  transition: transform 1s cubic-bezier(0.15, 0.31, 0.15, 0.97);
}
.home #container .second .container-fluid .quarto-box img {
  height: 52vh;
}
.home #container .third {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .third {
    width: 130vw;
    padding: 0 0px 0 150px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .third {
    width: 120vw;
    padding: 0 0px 0 20px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .third {
    width: 120vw;
    padding: 0 0px 0 0px;
  }
}
.home #container .third .container-fluid {
  height: 90%;
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .home #container .third .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .third .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .third .container-fluid {
    height: 100%;
    max-width: 100%;
    width: 130vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .third .container-fluid {
    height: 100%;
    width: 160vw;
  }
}
@media only screen and (max-width:350px) {
  .home #container .third .container-fluid {
    height: 100%;
    width: 170vw;
  }
}
.home #container .third .container-fluid h2 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.home #container .third .container-fluid h2 div span {
  display: block;
  transform: translateY(105%);
}
.home #container .third .container-fluid h4 {
  font-weight: bold;
}
.home #container .third .container-fluid p {
  width: 350px;
  margin: 0 0 35px 0;
}
@media only screen and (min-width:1600px) {
  .home #container .third .container-fluid p {
    width: 490px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home #container .third .container-fluid p {
    width: 100%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .third .container-fluid p {
    width: 70%;
  }
}
@media only screen and (max-width:350px) {
  .home #container .third .container-fluid p {
    width: 70%;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home #container .fourth {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .fourth {
    width: 130vw;
    margin-left: 50px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .fourth {
    width: 140vw;
    margin-left: 50px;
  }
}
.home #container .fourth .box img {
  width: 100%;
  height: 46%;
  object-fit: cover;
}
.home #container .fourth .box img:first-child {
  height: 27%;
}
.home #container .fourth .box img:last-child {
  height: 27%;
}
.home #container .fourth h3 {
  margin: 30px 0 0 0;
}
.home #container .fourth h3 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.home #container .fourth h3 div span {
  display: block;
  transform: translateY(105%);
}
@media only screen and (min-width:1600px) {
  .home #container .fourth h3 div span.float-right {
    float: none !important;
    margin-left: 300px;
  }
}
@media only screen and (min-width:1200px) {
  .home #container .fourth h3 div span.float-right {
    margin-right: 25%;
  }
}
@media screen and (min-width: 520px) and (max-width: 575px) {
  .home #container .fourth h3 div span.float-right {
    margin-right: 150px;
  }
}
@media screen and (min-width: 430px) and (max-width: 519px) {
  .home #container .fourth h3 div span.float-right {
    margin-right: 70px;
  }
}
.home #container .fourth p {
  width: 350px;
  margin: 0;
}
@media only screen and (min-width:1600px) {
  .home #container .fourth p {
    width: 490px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home #container .fourth p {
    width: 300px;
  }
}
@media only screen and (max-width:350px) {
  .home #container .fourth p {
    width: 280px;
  }
}
.home .nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #fff;
}
.home .nav-link.shop-link {
  font-weight: 700;
  color: #e83d39 !important;
}
.home .nav-link.active {
  font-weight: 600;
}
.home .mobile-second {
  width: 600px !important;
  margin-left: 100px;
}
.home .mobile-second .container {
  width: 600px !important;
}
.home .fourth .container-fluid {
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .home .fourth .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .home .fourth .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .home .fourth .container-fluid {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .home .fourth .container-fluid {
    width: 130vw;
  }
}
@media only screen and (max-width:350px) {
  .home .fourth .container-fluid {
    width: 140vw;
  }
}
.home #container-desktop, .home #container-mobile {
  color: #fff;
  background: linear-gradient(90deg, #50867f 0%, #50867f 50%, #fff 100%);
}
.home footer {
  background-color: #085148;
}
.home .footer-mobile {
  width: 800px;
}
.home .footer-mobile footer {
  width: 800px;
  padding-left: 80px;
}
.home .footer-mobile footer .container {
  max-width: 100%;
  width: 800px;
}

.federica #container .first {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .federica #container .first {
    width: 100vw;
  }
}
.federica #container .first .container-fluid {
  height: 90%;
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .federica #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .federica #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    max-width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
@media only screen and (max-width:350px) {
  .federica #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
.federica #container .first .container-fluid .logo {
  position: absolute;
  top: 50px;
  z-index: 2;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica #container .first .container-fluid .logo {
    top: 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica #container .first .container-fluid .logo {
    top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .federica #container .first .container-fluid .logo {
    top: 30px;
  }
}
.federica #container .first .container-fluid .logo img {
  width: 100px;
}
.federica #container .first .container-fluid h2 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.federica #container .first .container-fluid h2 div span {
  display: block;
  transform: translateY(105%);
}
.federica #container .first .container-fluid .overlay {
  position: relative;
}
.federica #container .first .container-fluid .overlay .imgReveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #50867f;
  z-index: 2;
}
@media only screen and (min-width:1200px) {
  .federica #container .first .container-fluid .overlay img {
    height: 290px;
    object-fit: cover;
    width: 100%;
  }
}
@media only screen and (min-width:1600px) {
  .federica #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .federica #container .first .container-fluid .overlay img {
    width: 90%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
@media only screen and (max-width:350px) {
  .federica #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
.federica #container .first .container-fluid p {
  width: 380px;
  margin: 50px 0 0 0;
}
@media only screen and (min-width:1600px) {
  .federica #container .first .container-fluid p {
    width: 450px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .federica #container .first .container-fluid p {
    width: 90%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica #container .first .container-fluid p {
    width: 90%;
    margin-top: 40px;
  }
}
@media only screen and (max-width:350px) {
  .federica #container .first .container-fluid p {
    width: 90%;
    margin-top: 40px;
  }
}
.federica #container .first .container-fluid .animMask {
  overflow: hidden;
  width: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.federica #container .first .container-fluid .animMask a {
  display: flex;
  transform: translateX(-40px);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.federica #container .first .container-fluid .animMask a:hover {
  transform: translateX(0);
}
.federica #container .first .container-fluid .animMask a .arrow {
  width: 40px;
  margin-right: 5px;
}
.federica #container .first .container-fluid .animMask a .arrowHidden {
  width: 40px;
}
.federica .second {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica .second {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica .second {
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .federica .second {
    width: 100vw;
  }
}
.federica .second .container-fluid {
  height: 83%;
  background-color: #085148;
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica .second .container-fluid {
    height: 100%;
    max-width: 100%;
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica .second .container-fluid {
    height: 100%;
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .federica .second .container-fluid {
    height: 100%;
    width: 100vw;
  }
}
.federica .second img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .federica .second img {
    height: 300px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .federica .second img {
    height: 250px;
  }
}
@media only screen and (min-width:1600px) {
  .federica .second img {
    height: 400px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica .second img {
    height: 250px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica .second img {
    height: 250px;
  }
}
@media only screen and (max-width:350px) {
  .federica .second img {
    height: 200px;
  }
}
.federica .second h4 {
  font-weight: bold;
}
.federica .nav-item:nth-child(3) .nav-link {
  color: #085148 !important;
  font-weight: bold;
}
.federica .nav-item .nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #fff;
}
.federica .nav-item .nav-link.shop-link {
  font-weight: 700;
  color: #e83d39 !important;
}
.federica .nav-item .nav-link.active {
  font-weight: 600;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .federica .nav-item .nav-link {
    font-size: 2rem;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .federica .nav-item .nav-link {
    font-size: 2rem;
  }
}
@media only screen and (max-width:350px) {
  .federica .nav-item .nav-link {
    font-size: 2rem;
  }
}
.federica .second a {
  color: #fff;
}
.federica #container-desktop, .federica #container-mobile, .federica #mainMenu {
  color: #fff;
  background-color: #50867f;
}
.federica .footer-mobile {
  width: 800px;
}
.federica .footer-mobile footer {
  width: 800px;
  padding-left: 80px;
}
.federica .footer-mobile footer .container {
  max-width: 100%;
  width: 800px;
}
.federica footer {
  background-color: #fff;
  color: #50867f;
}
.federica footer p, .federica footer a {
  color: #085148;
}

.servizi #container .first {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .servizi #container .first {
    width: 100vw;
  }
}
.servizi #container .first .container-fluid {
  height: 90%;
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .servizi #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .servizi #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    max-width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
@media only screen and (max-width:350px) {
  .servizi #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
.servizi #container .first .container-fluid .logo {
  position: absolute;
  top: 50px;
  z-index: 2;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi #container .first .container-fluid .logo {
    top: 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi #container .first .container-fluid .logo {
    top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .servizi #container .first .container-fluid .logo {
    top: 30px;
  }
}
.servizi #container .first .container-fluid .logo img {
  width: 100px;
}
.servizi #container .first .container-fluid h2 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.servizi #container .first .container-fluid h2 div span {
  display: block;
  transform: translateY(105%);
}
.servizi #container .first .container-fluid .overlay {
  position: relative;
}
.servizi #container .first .container-fluid .overlay .imgReveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}
@media only screen and (min-width:1200px) {
  .servizi #container .first .container-fluid .overlay img {
    height: 290px;
    object-fit: cover;
    width: 100%;
  }
}
@media only screen and (min-width:1600px) {
  .servizi #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .servizi #container .first .container-fluid .overlay img {
    width: 90%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
@media only screen and (max-width:350px) {
  .servizi #container .first .container-fluid .overlay img {
    width: 100%;
  }
}
.servizi #container .first .container-fluid p {
  width: 380px;
  margin: 50px 0 0 0;
}
@media only screen and (min-width:1600px) {
  .servizi #container .first .container-fluid p {
    width: 450px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .servizi #container .first .container-fluid p {
    width: 90%;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi #container .first .container-fluid p {
    width: 90%;
    margin-top: 30px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi #container .first .container-fluid p {
    width: 85%;
    margin-top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .servizi #container .first .container-fluid p {
    width: 85%;
    margin-top: 30px;
  }
}
.servizi .second {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi .second {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi .second {
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .servizi .second {
    width: 100vw;
  }
}
.servizi .second .container-fluid {
  height: 83%;
  background-color: #50867f;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 0 60px;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi .second .container-fluid {
    height: 100%;
    max-width: 100%;
    padding: 0 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi .second .container-fluid {
    height: 100%;
    padding: 0 40px;
  }
}
@media only screen and (max-width:350px) {
  .servizi .second .container-fluid {
    height: 100%;
    padding: 0 40px;
  }
}
.servizi .second img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .servizi .second img {
    height: 300px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .servizi .second img {
    height: 250px;
  }
}
@media only screen and (min-width:1600px) {
  .servizi .second img {
    height: 400px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi .second img {
    height: 250px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi .second img {
    height: 250px;
  }
}
@media only screen and (max-width:350px) {
  .servizi .second img {
    height: 200px;
  }
}
.servizi .second table {
  margin-top: 30px;
}
.servizi .second table th {
  line-height: 16px;
  padding-right: 140px;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .servizi .second table th {
    padding-right: 80px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi .second table th {
    padding-right: 50px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi .second table th {
    padding-right: 50px;
  }
}
@media only screen and (max-width:350px) {
  .servizi .second table th {
    padding-right: 50px;
  }
}
.servizi .nav-item:nth-child(2) .nav-link {
  color: #085148;
  font-weight: bold;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi .nav-item:nth-child(2) .nav-link {
    font-size: 2rem;
    color: #50867f !important;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi .nav-item:nth-child(2) .nav-link {
    font-size: 2rem;
    color: #50867f !important;
  }
}
@media only screen and (max-width:350px) {
  .servizi .nav-item:nth-child(2) .nav-link {
    font-size: 2rem;
    color: #50867f !important;
  }
}
.servizi .nav-item .nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #50867f;
}
.servizi .nav-item .nav-link.shop-link {
  font-weight: 700;
  color: #e83d39 !important;
}
.servizi .nav-item .nav-link.active {
  font-weight: 600;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .servizi .nav-item .nav-link {
    font-size: 2rem;
    color: #fff;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .servizi .nav-item .nav-link {
    font-size: 2rem;
    color: #fff;
  }
}
@media only screen and (max-width:350px) {
  .servizi .nav-item .nav-link {
    font-size: 2rem;
    color: #fff;
  }
}
.servizi .margin-mobile {
  margin-left: 100px;
}
.servizi #container-desktop, .servizi #container-mobile, .servizi #mainMenu {
  color: #1d1d1b;
}
.servizi .footer-mobile {
  width: 800px;
}
.servizi .footer-mobile footer {
  width: 800px;
  padding-left: 80px;
}
.servizi .footer-mobile footer .container {
  max-width: 100%;
  width: 800px;
}
.servizi footer {
  background-color: #085148;
  color: #fff;
}
.servizi footer p, .servizi footer a {
  color: #fff;
}

.contatti #container .first {
  position: relative;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .contatti #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .contatti #container .first {
    width: 100vw;
  }
}
@media only screen and (max-width:350px) {
  .contatti #container .first {
    width: 100vw;
  }
}
.contatti #container .first .container-fluid {
  height: 90%;
  padding: 0 60px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .contatti #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .contatti #container .first .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .contatti #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    max-width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .contatti #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
@media only screen and (max-width:350px) {
  .contatti #container .first .container-fluid {
    height: 100%;
    width: 100vw;
    padding: 0;
  }
}
.contatti #container .first .container-fluid .logo {
  position: absolute;
  top: 50px;
  z-index: 2;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .contatti #container .first .container-fluid .logo {
    top: 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .contatti #container .first .container-fluid .logo {
    top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .contatti #container .first .container-fluid .logo {
    top: 30px;
  }
}
.contatti #container .first .container-fluid .logo img {
  width: 100px;
}
.contatti #container .first .container-fluid h2 div {
  display: block;
  position: relative;
  overflow: hidden;
}
.contatti #container .first .container-fluid h2 div span {
  display: block;
  transform: translateY(105%);
}
.contatti #container .first .container-fluid form {
  width: 500px;
  margin-bottom: 40px;
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  .contatti #container .first .container-fluid form {
    width: 100%;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  .contatti #container .first .container-fluid form {
    width: 100%;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .contatti #container .first .container-fluid form {
    width: 100%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .contatti #container .first .container-fluid form {
    width: 350px;
  }
}
@media only screen and (max-width:350px) {
  .contatti #container .first .container-fluid form {
    width: 280px;
  }
}
.contatti #container .first .container-fluid form input:not(#submit), .contatti #container .first .container-fluid form textarea {
  border: 2px solid #50867f;
  background: none;
  padding: 20px 10px;
  margin-top: 15px;
  font-family: "Oswald", sans-serif;
  color: #1d1d1b;
}
.contatti #container .first .container-fluid form #submit {
  background: #50867f;
  border: 2px solid #50867f;
  font-family: "Oswald", sans-serif;
  color: white;
  padding: 5px 30px;
  margin-top: 20px;
}
.contatti #container .first .container-fluid .icon {
  margin-top: 20px;
}
.contatti #container .first .container-fluid .icon img {
  width: 30px;
  margin-right: 20px;
}
.contatti #container .first .container-fluid .icon a {
  color: #1d1d1b;
  font-weight: bold;
}
.contatti .nav-item:nth-child(4) .nav-link {
  color: #085148;
  font-weight: bold;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .contatti .nav-item:nth-child(4) .nav-link {
    font-size: 2rem;
    color: #50867f !important;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .contatti .nav-item:nth-child(4) .nav-link {
    font-size: 2rem;
    color: #50867f !important;
  }
}
@media only screen and (max-width:350px) {
  .contatti .nav-item:nth-child(4) .nav-link {
    font-size: 2rem;
    color: #50867f !important;
  }
}
.contatti .nav-item .nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #50867f;
}
.contatti .nav-item .nav-link.shop-link {
  font-weight: 700;
  color: #e83d39 !important;
}
.contatti .nav-item .nav-link.active {
  font-weight: 600;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .contatti .nav-item .nav-link {
    font-size: 2rem;
    color: #fff;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .contatti .nav-item .nav-link {
    font-size: 2rem;
    color: #fff;
  }
}
@media only screen and (max-width:350px) {
  .contatti .nav-item .nav-link {
    font-size: 2rem;
    color: #fff;
  }
}
.contatti #container-desktop, .contatti #container-mobile, .contatti #mainMenu {
  color: #1d1d1b;
}
.contatti .footer-mobile {
  width: 800px;
}
.contatti .footer-mobile footer {
  width: 800px;
  padding-left: 80px;
}
.contatti .footer-mobile footer .container {
  max-width: 100%;
  width: 800px;
}
.contatti footer {
  background-color: #085148;
  color: #fff;
}
.contatti footer p, .contatti footer a {
  color: #fff;
}

footer {
  height: 100%;
}
@media only screen and (max-width:575px) and (min-width:351px) {
  footer h2 {
    font-size: 4rem;
    line-height: 4.6rem;
    width: 50%;
  }
}
@media only screen and (max-width:350px) {
  footer h2 {
    font-size: 3.7rem;
    line-height: 4.6rem;
    width: 50%;
  }
}
footer h2 div {
  display: block;
  position: relative;
  overflow: hidden;
}
footer h2 div span {
  display: block;
  transform: translateY(105%);
}
footer p, footer a {
  color: #fff;
}
footer .social {
  margin: 20px 0 40px 0;
}
footer .social img {
  width: 40px;
  margin-right: 10px;
}
footer .credits div {
  float: left;
  width: 50%;
}
@media only screen and (max-width:575px) and (min-width:351px) {
  footer .credits div {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
}
@media only screen and (max-width:350px) {
  footer .credits div {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
}
footer .credits div p {
  margin: 0;
}

.blog-template {
  background-color: #50867f;
}
.blog-template .first {
  position: relative;
}
.blog-template .first .container-fluid {
  padding: 0 60px;
}
.blog-template .first .container-fluid .logo {
  position: relative;
  top: 50px;
  z-index: 2;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .blog-template .first .container-fluid .logo {
    top: 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .blog-template .first .container-fluid .logo {
    top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .blog-template .first .container-fluid .logo {
    top: 30px;
  }
}
.blog-template .first .container-fluid .logo img {
  width: 100px;
}
.blog-template .first .blog-wrapper {
  background: url(../img/blog1.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 100px;
  color: #fff;
}
.blog-template .first .blog-wrapper h2 {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 40px;
  font-size: 4rem;
  font-style: normal;
}
.blog-template .first p, .blog-template .first .date {
  color: #fff;
  margin-top: 80px;
}
.blog-template .first .date {
  margin-bottom: 200px;
  font-weight: 600;
}

.nav-item .nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #fff;
}
.nav-item .nav-link.shop-link {
  font-weight: 700;
  color: #e83d39 !important;
}
.nav-item .nav-link.active {
  font-weight: 600;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .nav-item .nav-link {
    font-size: 2rem;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .nav-item .nav-link {
    font-size: 2rem;
  }
}
@media only screen and (max-width:350px) {
  .nav-item .nav-link {
    font-size: 2rem;
  }
}

#slider_news .slick-prev:before, #slider_news .slick-next:before {
  color: #000;
  content: "➜";
  font-size: 30px;
}
#slider_news .slick-prev {
  transform: rotate(180deg);
  left: 50px;
}
#slider_news .slick-next {
  right: 50px;
}
#slider_news .post-img {
  width: 50%;
  margin: 0 auto 60px auto;
  display: block;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  #slider_news .post-img {
    width: 70%;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  #slider_news .post-img {
    width: 75%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  #slider_news .post-img {
    width: 75%;
  }
}
@media only screen and (max-width:991px) and (min-width:769px) {
  #slider_news .slick-prev {
    transform: rotate(180deg);
    left: 0px;
  }
  #slider_news .slick-next {
    right: 0px;
  }
}
@media only screen and (max-width:768px) and (min-width:576px) {
  #slider_news .slick-prev {
    transform: rotate(180deg);
    left: 10px;
  }
  #slider_news .slick-next {
    right: 10px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  #slider_news .slick-prev {
    transform: rotate(180deg);
    left: 15px;
    z-index: 999;
  }
  #slider_news .slick-next {
    right: 15px;
    z-index: 999;
  }
  #slider_news .slick-prev:before, #slider_news .slick-next:before {
    color: #000;
    content: "➜";
    font-size: 20px;
  }
}

.blog-template footer {
  padding: 80px 0;
  background-color: #fff;
  color: #50867f;
}
.blog-template footer p, .blog-template footer a {
  color: #085148;
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .blog-template footer .credits div {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .blog-template footer .credits div {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
}

.admin {
  background-color: #50867f;
  padding: 20px 10%;
}
.admin .logo_login {
  max-width: 25vw;
  margin-bottom: 4vh;
}
.admin a, .admin p, .admin h2 {
  color: #FFF;
}
.admin .posts {
  border-bottom: 1px solid #000;
  padding: 40px auto;
}
.admin .new_post {
  background-color: #DD3442;
  border: none;
  padding: 10px 30px;
  color: #fff;
  margin-bottom: 40px;
  display: block;
  width: 250px;
  padding: 20px 10px;
  text-align: center;
}
.admin form .form-group {
  margin-top: 30px;
}
.admin form .form-group label {
  color: #fff;
}
.admin form input {
  box-shadow: 0px 0px 20px #fff;
  border-radius: 8px;
}
.admin form input[type=submit] {
  margin-top: 40px;
  margin-right: 20px;
  background-color: #DD3442;
  border: none;
  padding: 10px 30px;
  color: #fff;
  padding: 20px 30px;
}
.admin form .form-group input, .admin .admin form .form-group textarea {
  padding: 15px 12px;
}
.admin .login h1 {
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}
.admin .login form {
  text-align: center;
}
.admin .login form input[type=submit] {
  text-align: center;
  margin-right: 0px;
}
.admin .login form input, .admin .login form label {
  text-align: left;
  width: 60%;
  padding: 12px;
}

body, html {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.pg-wrapper {
  overflow: hidden !important;
  height: 100vh !important;
  padding-bottom: 0 !important;
}

@media only screen and (max-width:991px) and (min-width:769px) {
  #container-mobile {
    display: none !important;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  #container-mobile {
    display: none !important;
  }
}
@media only screen and (min-width:1200px) {
  #container-mobile {
    display: none !important;
  }
}

@media only screen and (max-width:768px) and (min-width:576px) {
  #container-desktop {
    display: none !important;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  #container-desktop {
    display: none !important;
  }
}
@media only screen and (max-width:350px) {
  #container-desktop {
    display: none !important;
  }
}

#container-mobile {
  display: inline-flex;
}
#container-mobile .section {
  height: 100%;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  #container-mobile .section {
    padding: 0 70px 0 40px;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  #container-mobile .section {
    padding: 0 170px 0 30px;
  }
}
@media only screen and (max-width:350px) {
  #container-mobile .section {
    padding: 0 170px 0 30px;
  }
}

.iconMenu {
  width: 45px;
  position: fixed;
  right: 40px;
  top: 50px;
  z-index: 9999999;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  .iconMenu {
    display: block;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .iconMenu {
    display: block;
    right: 30px;
    top: 40px;
  }
}
@media only screen and (max-width:350px) {
  .iconMenu {
    display: block;
    right: 30px;
    top: 40px;
  }
}
.iconMenu div {
  width: 45px;
  height: 3px;
  background-color: #fff;
  float: right;
}
.iconMenu div:nth-child(1) {
  width: 35px;
  transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.iconMenu div:nth-child(2) {
  margin-top: 9px;
}
.iconMenu div:nth-child(3) {
  margin-top: 9px;
  width: 29px;
  transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.iconMenu div.active {
  width: 45px;
  transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.shop-icon {
  width: 30px;
  top: 40px;
  right: 110px;
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .shop-icon {
    right: 100px;
    top: 30px;
  }
}
@media only screen and (max-width:350px) {
  .shop-icon {
    right: 100px;
    top: 30px;
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #085148;
  width: 100%;
  height: 0%;
  z-index: 99999;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  nav {
    bottom: auto;
    top: 30px;
    background: none;
    width: auto;
    left: 47%;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  nav {
    bottom: auto;
    top: 30px;
    background: none;
    width: auto;
    left: 48%;
  }
}
@media only screen and (min-width:1200px) {
  nav {
    bottom: auto;
    top: 30px;
    background: none;
    width: auto;
    left: 48%;
  }
}
nav .navbar {
  justify-content: center;
  height: 100%;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  nav .navbar {
    justify-content: end;
    align-items: flex-start;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  nav .navbar {
    justify-content: end;
    align-items: flex-start;
  }
}
@media only screen and (min-width:1200px) {
  nav .navbar {
    justify-content: end;
    align-items: flex-start;
  }
}
nav .navbar .nav-item {
  text-align: center;
  margin: 10px 7px;
}
@media only screen and (max-width:991px) and (min-width:769px) {
  nav .navbar .nav-item:first-child {
    margin-right: 20px;
  }
}
@media only screen and (max-width:1199px) and (min-width:992px) {
  nav .navbar .nav-item:first-child {
    margin-right: 20px;
  }
}
@media only screen and (min-width:1200px) {
  nav .navbar .nav-item:first-child {
    margin-right: 20px;
  }
}
nav .navbar .nav-item div {
  overflow: hidden;
  height: 25px;
  width: 100%;
}
@media only screen and (max-width:768px) and (min-width:576px) {
  nav .navbar .nav-item div {
    overflow: visible;
    height: 100%;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  nav .navbar .nav-item div {
    overflow: visible;
    height: 100%;
  }
}
@media only screen and (max-width:350px) {
  nav .navbar .nav-item div {
    overflow: visible;
    height: 100%;
  }
}
nav .navbar .nav-item div a {
  padding: 0;
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (max-width:768px) and (min-width:576px) {
  nav .navbar .nav-item div a {
    font-size: 2rem;
    transform: none !important;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  nav .navbar .nav-item div a {
    font-size: 2rem;
    transform: none !important;
  }
}
@media only screen and (max-width:350px) {
  nav .navbar .nav-item div a {
    font-size: 2rem;
    transform: none !important;
  }
}
nav .navbar .nav-item div:hover a {
  transform: translateY(-27px);
}
@media only screen and (max-width:768px) and (min-width:576px) {
  nav .navbar .nav-item div .menu-hidden {
    display: none;
  }
}
@media only screen and (max-width:575px) and (min-width:351px) {
  nav .navbar .nav-item div .menu-hidden {
    display: none;
  }
}
@media only screen and (max-width:350px) {
  nav .navbar .nav-item div .menu-hidden {
    display: none;
  }
}

.back {
  position: fixed;
  top: 60px;
  left: 60px;
  z-index: 4;
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .back {
    top: 40px;
    left: 30px;
  }
}
@media only screen and (max-width:350px) {
  .back {
    top: 40px;
    left: 30px;
  }
}
.back img {
  width: 50px;
  transform: rotate(180deg);
}
@media only screen and (max-width:575px) and (min-width:351px) {
  .back img {
    width: 40px;
  }
}
@media only screen and (max-width:350px) {
  .back img {
    width: 40px;
  }
}

@keyframes animReveal {
  0% {
    transform: translateY(105%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes animReveal {
  0% {
    transform: translateY(105%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes animWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.animReveal {
  animation: animReveal 1s cubic-bezier(0.52, 0.01, 0, 1) forwards;
}

.animWidth {
  animation: animWidth 1s cubic-bezier(0.52, 0.01, 0, 1) forwards;
  animation-delay: 0.8s;
}

@keyframes showMenu {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes showMenu {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.showMenu {
  animation: showMenu 1s cubic-bezier(0.52, 0.01, 0, 1) forwards;
}/*# sourceMappingURL=style.css.map */